/********************************************

Defines the styles for the action tabset, found on the site tree, 
and as a single (more options) tab in page view. This is a special 
use case of tabs, so the default tab styling should not apply 


**********************************************/


$border: 1px solid darken(#D9D9D9, 15%);

.cms {	
	.ss-ui-action-tabset{
		position:relative;
		float:left;

		/*Style the "tabs" navigation for multiple tabs*/
		&.multi{ 
			ul.ui-tabs-nav{				
				@include clearfix;			
				padding:0;			
				overflow:visible;
				float:left;	
				&:focus{
					outline:none;
					box-shadow:none;
					-webkit-box-shadow: none;
				}			
				li{
					&:focus{
						outline:none;
						box-shadow:none;
						-webkit-box-shadow: none;
					}
					overflow:visible;
					background:none;
					@include background-image(linear-gradient(top, #fff, #D9D9D9));	
					@include border-radius(0);
					border-top:$border;
					border-bottom:$border !important; //jquery-ui style has important on it
					border-right:1px solid #fff;
					border-left:$border;
					margin:0;
					&.ui-state-active{
						background:#fff;
						border-bottom:none !important; //jquery-ui style has important on it
						&.first, &.last{
							@include border-bottom-left-radius(0px);
							@include border-bottom-right-radius(0px);
						}
						a.tab-nav-link{
							padding-bottom:6px;
							&:focus, span:focus{
								outline:none;
								box-shadow:none;
								-webkit-box-shadow: none;
							}
						}
					}
					&.first{
						@include border-top-left-radius(4px);
						@include border-bottom-left-radius(4px);
						border-left:$border;
					}
					&.last{					
						@include border-top-right-radius(4px);
						@include border-bottom-right-radius(4px);
						border-right:$border;
					}
					a.tab-nav-link{
						color:$color-text;
						font-weight:bold;				
						padding: 5px 28px 5px 8px;	
						line-height:20px;
						display:block;
						.ui-no-icon{
							display:block;
							float:left;
							margin-right:5px;
							width:16px;
							height:16px;
						}
						.title{
							padding-left:4px;
							display:inline-block;
						}
					}
				}
			}
		}
		.batch-check{ /*position a checkbox within a tab*/
			position:absolute;
			float:left;
			top:0;
			margin:0px 5px 0px 10px;
			line-height:30px;
			height:30px;
			display:block;
		}
		.ui-icon{
			display:block;
			float:left; 
			margin-right:5px;
		}	
		&.single{ 
			ul.ui-tabs-nav{		
				background:none;
				border:none;
				display:inline;
				padding:0;
				float:left;
				li{
					display:inline;
					background:none;
					border:none;
					padding:0;
					&:hover, &:focus, &:active{
						@include box-shadow(none);
						outline:none;
					}
					a{
						color: $color-text-blue-link;
						@include text-shadow(#fff 0 1px 1px);
						padding:0 0 0 10px;
						line-height:30px;
						min-width:176px;
						&:after{
							margin-left:10px;
							content:"";
							display:inline-block;
							width: 0; 
							height: 0; 
							border-left: 4px solid transparent;
							border-right: 4px solid transparent;							
							border-bottom: 4px solid $color-text-blue-link;
						}
						&:hover, &:focus, &:active{
							@include box-shadow(none);
							outline:none;							
						}
						&:hover{
							@include text-shadow(#fff 0 10px 10px);
							color: darken($color-text-blue-link,8%);
							&:after{
								border-bottom: 4px solid darken($color-text-blue-link,8%);
							}
						}
					}					
				}
			}
		}	

		/* Style the tab panels */
		.ss-ui-action-tab.ui-tabs-panel{
			display:block;
			clear:both;
			background:#fff;
			@include clearfix;
			position:absolute;
			top:32px;
			border:$border;
			border-top:none;
			width:204px;
			z-index:1;
			padding:10px;
			@include tightSpacing;
			margin:0;
			left:-1px;
			.chzn-container-single .chzn-single{
				padding: 0 0 0 5px;
				float:none;
			}
		}
		.last .ss-ui-action-tab{
			right:-1px;
			left:auto;
		}
	}		


	/**********************
	Styles for pop-up tabs in bottom panel
	************************/
	.south .Actions{
		overflow:visible; //put this somewhere else/more generic
		.rise-up.ss-ui-action-tabset{
			.ui-tabs-panel{
				@include clearfix;
				@include border-top-radius(3px);
				@include border-bottom-radius(0);
				@include box-shadow(0 -1px 2px 1px lighten(#cccccc,5%));
				@include tightSpacing;
				background:#f0f3f4 url(../images/textures/bg_cms_main_content.png) repeat top left;
				border:1px solid #FAFAFA;
				border-left:none;
				border-bottom-color:#f0f3f4;
				clear:both;
				display:block;
				position:absolute;
				top:-204px;
				width:auto;
				max-width:200px;
				z-index:1;
				padding:10px;				
				margin:0;
				margin-top:1px;
				left:-1px;
				.chzn-container-single .chzn-single{
					padding: 0 0 0 5px;
					float:none;
				}
				button.ss-ui-button{
					background:none;
					border:none;
					display:inline;
					padding:0;
					margin:0;
					outline:none;
					color: $color-text-blue-link;
					font-weight:normal;
					@include text-shadow(#fff 0 1px 1px);
					&.ss-ui-action-destructive{
						color: darken($color-error,25%);
					}
					span{
						padding-left:0;
						padding-right:0;
					}
					&:hover, &:focus, &:active{
						text-decoration:underline;
						@include box-shadow(none);
						outline:none;
					}

				}
			}
			.last .ui-tabs-panel.ss-ui-action-tab{
				right:-1px;
				left:auto;
			}
		}
	}
	

	/* Styles for the cms-actions in tree view, to use more limited space.
	Title hidden in tree view, until hover/active state added. Active is applied 
	to the first tab within the template, so there should always be one title 
	visible. Added and removed with js in TabSet.js  */
	.cms-tree-view-sidebar{
		.ss-ui-action-tabset.ss-tabset.multi{
			ul.ui-tabs-nav{
				>li{					
					a.tab-nav-link{
						width:30px;
						overflow:hidden;
						@include box-sizing(border-box);
						padding-right:0;
						@include duration(0.5s);
						&.active{
							width:110px;	
							@include duration(0.5s);
						}
					}				
				}				
			}
		}
		.ui-tabs .ui-tabs-panel.ss-ui-action-tab{
			width:166px;
			padding:10px 4px;
			.field {
				width:150px;				
			}
			.ui-button-text-only .ui-button-text{
				padding:.4em .8em;
			}			
		}
		.last .ui-tabs-panel.ss-ui-action-tab{
			right:0;
			left:auto;
		}
	}	
}